$zero-padding: 0;
$zero-margin: 0;
$font-size: 10px;
$full-width: 100%;
$full-height: 100%;
$auto-margin: auto;
$not-resize: none;
$full-screen-height: 100vh;
$textarea-background: #e9e9e9;
$remove-border: none;
$border-box-sizing: border-box;
$editor-shadow: 0 0 0.2em #9f9f9f;
$paragraph-margin: 0.5em 0;
$block-element-margin: 1.3em 0;
$heading-font-size: 2.9em;
$paragraph-font-size: 1.3em;
$list-margin: 0;
$code-font-color: #ffffff;
$block-code-padding: 1em;
$block-quote-left-padding: 0.5em;
$block-quote-side-margin: 2em;
$block-quote-border: 0.3em solid grey;
$table-border: 1px solid #000;
$inline-code-padding: 0 0.2em;
$max-content-width: 100em;
